/* game board table */
#board {
	margin: auto;
}
#board td {
	width: 50px;
	height: 50px;
	border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 5px;
	width: 80%;
	height: 80%;
	/* top: 0; */
	border-radius: 50%;
	transition: all 500ms;
	position: absolute;
	animation: drop 1s forwards;
}

.row0 {
	top: -150%;
}
.row1 {
	top: -250%;
}
.row2 {
	top: -350%;
}
.row3 {
	top: -450%;
}
.row4 {
	top: -550%;
}
.row5 {
	top: -650%;
}

.cell {
	position: relative;
}

@keyframes drop {
	from {
	}
	to {
		top: 0;
	}
}
/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: royalblue;
}

.p2 {
	background-color: crimson;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: gold;
}
